* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(https://i.ibb.co/xLpCkhs/artem-sapegin-b18-TRXc8-UPQ-unsplash.jpg); 
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav img {
    width: 120px;
}

.nav-links {
    flex: 1;
    text-align: right;
    transition: 0.5s;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    transition: 0.3s ease;
}

.nav-links ul li a:hover {
    color: rgba(17, 0, 255, 0.795);
}

.text-box {
    width: 90%;
    color: black;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 48px;
    line-height: 1.2;
}

.text-box p {
    font-size: 20px;
    color: black;
}

.hero-one {
    display: inline-block;
    color: white;
    border: 2px solid rgba(66, 7, 230, 0.7);
    padding: 6px 24px;
    font-size: 20px;
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(66, 7, 230, 0.7));
    cursor: pointer;
    transition: all 0.6s ease-in;
}

.hero-one:hover {
    border: 2px solid black;
    background: transparent;
    color: rgba(66, 7, 230, 0.7);
}

.hero-one a {
    color: rgba(66, 7, 230, 0.7);
    font-size: 16px;
    transition: 1s;
}

.hero-one a:hover {
    color: #ffb366;
    text-shadow: -1px 0 black, white;
}

nav .fa-solid {
    display: none;
}

@media (max-width: 768px) {
    .text-box h1 {
        font-size: 32px;
    }

    .nav-links ul li {
        display: block;
        text-align: left;
    }

    .nav-links {
        position: fixed;
        background: rgba(66, 7, 230, 0.7);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -250px;
        z-index: 2;
    }

    nav .fa-solid {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .header .fa-solid {
        color: black;
    }

    .nav-links ul {
        padding: 30px;
    }

    nav img {
        padding: 0;
        width: 100px;
    }
}

.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(17, 0, 255, 0.795), rgba(66, 7, 230, 0.7)), url(https://i.ibb.co/61Ggjnd/kevin-ku-w7-Zyu-GYNp-RQ-unsplash.jpg); 
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1 {
    margin-top: 55px;
}

.sub-header ul li a {
    color: white;
}

.sub-header ul li:hover::after {
    width: 100%;
}

.plan {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.plan-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.plan-col img {
    width: 100%;
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    overflow: hidden;
}

.layer:hover {
    background: rgba(66, 7, 230, 0.7);
}

.layer h3 {
    font-weight: 500;
    color: #fff;
    font-size: 36px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 50%;
    opacity: 1;
}

.layer h2 {
    font-weight: 500;
    color: #fff;
    font-size: 23px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h2 {
    bottom: 40%;
    opacity: 1;
}

.layer p {
    font-weight: 200;
    color: #fff;
    font-size: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover p {
    bottom: 25%;
    opacity: 1;
}

.archetypes {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.archetypes-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.archetypes-col img {
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
}

.archetypes-col p {
    padding: 0;
}

.archetypes-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
}

.testimonials {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.testimonials-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #f0f0f0;
    padding: 25px;
    display: flex;
    align-items: center;
}

.testimonials-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonials-col p {
    padding: 0;
}

.testimonials-col h3 {
    margin-top: 15px;
}

.testimonials-col .fa-star,
.testimonials-col .fa-star-half-stroke {
    color: rgba(66, 7, 230, 0.7);
}

@media (max-width: 768px) {
    .testimonials-col {
        flex-direction: column;
        text-align: center;
    }

    .testimonials-col img {
        margin-left: 0;
        margin-right: 15px;
    }
}

.cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://i.ibb.co/99B5Y0m/marc-olivier-jodoin-HIi-NFXcbt-Q-unsplash.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1 {
    color: #fff;
    margin-bottom: 40px;
}

.cta .hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.cta .hero-btn:hover {
    border: 1px solid rgba(66, 7, 230, 0.7);
    background: rgba(66, 7, 230, 0.7);
    transition: 1s;
}

@media (max-width: 768px) {
    .cta h1 {
        font-size: 24px;
    }
}

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img {
    width: 100%;
}

.about-col h1 {
    padding-top: 0;
}

.about-col p {
    padding: 15px 0 25px;
}

.red-btn {
    border: 1px solid black;
    background: transparent;
    color: black;
    padding: 6px 10px;
}

.red-btn:hover {
    border: 1px solid rgba(66, 7, 230, 0.7);
    background: rgba(66, 7, 230, 0.7);
    transition: 1s;
}

.package {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 48px;
    font-weight: 600;
}

h5 {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 5%;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(66, 7, 230, 0.7);
}

p {
    color: #777;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.package-col {
    flex-basis: 31%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
}

.package-col h2 {
    color: rgba(17, 0, 255, 0.795);
}

.package-col p {
    padding: 0;
}

.package-col:hover {
    box-shadow: 0 0 20px 0px rgb(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }
}

.blog-content {
    width: 80%;
    margin: auto;
}

.blog-left img {
    width: 100%;
}

.blog-left h3 {
    background: rgba(66, 7, 230, 0.7);
    color: black;
    padding: 7px 0;
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.blog-left h2 {
    font-size: 24px;
}

.blog-left p {
    color: black;
    padding: 0;
}

.blog-left button {
    font-size: 18px;
    margin: 5px 0;
}

p.email-clr {
    color: rgba(66, 7, 230, 0.7);
    font-style: italic;
}

.task-number {
    padding-right: 30px;
}

.comment-box {
    border: 1px solid #ccc;
    margin: 15px 0;
    padding: 10px 20px;
}

.comment-box h4 {
    text-align: left;
    font-size: 30px;
}

#blogForm input, .comment-form textarea {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
    font-size: 18px;
}

#blogForm textarea {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #f0f0f0;
    font-size: 18px;
}

#blogForm button {
    margin: 10px 0;
    font-size: 20px;
}

@media (max-width: 768px) {
    .sub-header h1 {
        font-size: 24px;
    }
}

.contact-section {
    margin: 100px auto;
    width: 80%;
    background-image: url(https://i.ibb.co/kBzCvXj/photo-1520607162513-77705c0f0d4a.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.contact-section h1 {
    color: black;
    margin-bottom: 40px;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    flex-wrap: wrap;
    cursor: pointer;
}

.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.contact-details:hover {
    transform: translateY(-10px);
}

.footer {
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding: 30px 0;
}

.footer h4 {
    margin-bottom: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;
}

.footer p {
    text-align: center;
    padding: 0px 270px;
    font-size: 16px;
}

.footer img {
    width: 40px;
}

.icons {
    font-size: 24px;
}

.icons .fa-brands {
    color: rgba(17, 0, 255, 0.795);
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.icons .fa-github {
    color: rgba(17, 0, 255, 0.795);
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.icons .fa-at {
    color: rgba(17, 0, 255, 0.795);
}

.icons a {
    width: 300px;
}
